@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
  font-size: 14px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.blue_button {
  @apply bg-[#0095F6] text-[white] rounded-lg px-5 py-2 text-sm font-bold hover:bg-[#1877F2] active:opacity-50 cursor-pointer;
}
.gray_button {
  @apply bg-[#efefef] text-[#000] rounded-lg px-5 py-2 text-sm font-bold hover:bg-[#dbdbdb] active:opacity-50 cursor-pointer;
}

.icon_button {
  @apply text-2xl active:opacity-50 cursor-pointer;
}
